<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Visual Web</title>
        
        <link rel="stylesheet" href="{echo CDN}css/style.css" />
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    </head>

    <body>

        {include layouts/navigation/navigation.html}
        {ayield action}
        
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="{echo CDN}js/jquery.particleground.js"></script>
        <script type="text/javascript" src="{echo CDN}js/demo.js"></script>

    </body>
</html>
