<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">
                    One of the Internet companies in the country, SwiftDeal is Indias premier online <span class="span_h2">classifieds</span> company in recruitment, education and <span class="span_h2">related services.</span>
                </h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-image-flash-on"></i>
                    <h5 class="promo-caption">Development</h5>
                    <p class="light center">New Innovatiove technology for creating apps, web application development and server maintenance.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">Training</h5>
                    <p class="light center">Online internship classifieds, the smartest gateway for students to achieve their goals.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption">Digital Marketing</h5>
                    <p class="light center">Serving a way to attain automation in marketing specially in the field of customer relationship management.</p>
                </div>
            </div>
        </div>
    </div>
</div>